@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d7e7ee;
    width: 100vw;
    height: 100vh;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(4, 196, 4, 0.6);
    box-shadow: 0 0 5px rgba(14, 1, 1, 0.6);
    width: 100%;
    height: 10%;
    font-family: 'Staatliches', cursive;
}

.header1{
    width: 81%;
    text-align: center;
}

.header2{
    width: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    background-color: rgba(12, 75, 12, 0.6);
    box-shadow: 0 0 5px rgba(7, 1, 1, 0.5);
    cursor: pointer;
}
.quizz{
    font-size: 35px;
    color: white;
    letter-spacing: 2px;
    text-shadow:  5px 5px 3px #00000030;
}

a{
    text-decoration: none;
    color: rgb(253, 166, 5);
    transition: 0.2s;
}

.appareil-digestif{
     font-size: 35px;
     color: rgb(253, 166, 5);
     margin: auto;   
     letter-spacing: 2px; 
     transition: 0.2s;
     text-shadow:  5px 5px 2px #00000030;
}

a:hover{
    color: rgb(243, 207, 141);
    transition: 0.2s;
}

.container{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}


.container-quizz1{
    width: 60%;
    height: 100%;
    padding: 2%;
}

.container-quizz2{
    width: 39%;
    height: 90%;
    padding: 2%;
    background-color:  #f5e9d1;
    box-shadow: 0 0 5px rgba(200,200,200,0.8);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    overflow: auto;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    padding-top: 0px;
    font-family: 'Dosis', sans-serif;
}

.valid{
    padding: 2% 7%;
    cursor: pointer;
    margin-top: 5%;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: rgb(86, 163, 114);
    box-shadow: 0 0 8px rgba(200,200,200,0.8);
}

#reponse{
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pq{
    width: 99%;
    border-radius: 0px;
    background: #f5e9d1;
    box-shadow: inset 5px 5px 5px #dacfba,
                inset -5px -5px 5px #ffffe8;    border-radius: 5px;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    padding: 2%;
}

select{
    width: 120px;
    height: 30px;
    font-size:0.65em
}

.pq h3{
    margin-bottom: 1%;
}

.pq p{
    padding: 2%;
    font-size: .9em;
}

.pr{
    width: 30%;
    height: 15%;
    background-color:rgba(155, 205, 214, 0.362);
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(200,200,200,0.8);
}

.container-quizz-d{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color:rgba(155, 205, 214, 0.362);
    box-shadow: 0 0 5px rgba(200,200,200,0.8);
    background-image: url('./assets/images/appdigesquizz.svg');
    background-repeat: no-repeat;
    background-position: center center ;
    background-size: 100% 100%;  
    position: relative;
}

.circle1 button{
    width: 25px;
    color: #fff;
    height: 25px;
    background-color: rgb(146, 216, 143);
    border: none;
    font-size: 18px;
    border-radius: 50%;
    
}



.circle1{
    animation-name: moveCirle1;
    animation-direction: alternate;
    animation-duration: .6s;
    animation-iteration-count: infinite; 
    /* animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: none;
    background-color: rgba(146, 204, 146, 0.726);
    position: absolute;
    border-radius: 50%;
}

.circle2{
    animation-name: moveCirle2;
    /* animation-delay: .5s; */
    animation-direction: alternate;
    animation-duration: .6s;
    animation-iteration-count: infinite; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height:35px;
    border: none;
    background-color: rgba(217, 235, 226, 0.63);
    border-radius: 50%;  
}

.a{
    position: absolute;
    top: 32.3%;
    left: 69.8%;
}

.b{
    position: absolute;
    top: 46%;
    left: 22.9%;
}

.c{
    position: absolute;
    top: 48.6%;
    left: 71.8%;
}

.circle1 , .circle2 ,button{
    transition-duration: 0.2s;
    transition-property: background-color;
}

.circle1:hover {
    background-color: rgba(175, 219, 245, 0.363);
}

.circle1:hover .circle2 , .circle2:hover{
    background-color: #97d6f3a1;
}

.circle1:hover button , button:hover{
    background-color: rgba(77, 187, 238, 0.671);

}

.circle{
    clip-path: circle(0%)!important;
}



@keyframes moveCirle1 {
    from {
        clip-path: circle(100%);
    }
  
    to {
        clip-path: circle(40%);
    }
  }

  @keyframes moveCirle2 {
    from {
        clip-path: circle(100%);
    }
  
    to {
        clip-path: circle(30%);
    }
  }

  